@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/*DEIXAR RESPONSIVO
DEIXAR RESPONSIVO
DEIXAR RESPONSIVO
DEIXAR RESPONSIVO*/

body {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}


.header {
    background: url(/images/background.jpg) left top;
    background-size: 100%;
    height: 150px;
    padding-top:1rem;
    padding-left:1rem;
    padding-right:1rem;
    text-decoration: none;
    position:relative;
}
/* Deixar logo responsivo*/
.pardallogo {

}

/*tirando cor do link e deixando uppercase*/
li a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    
}

li a:hover{
    color:black;
    text-decoration: none;
    font-weight: 500;
}

li a:active {
    font-weight: 200;
}

.nav-item {
    position: relative;
    overflow: hidden;
    top:-100px;
    font-family: 'Lato', sans-serif;
    float: right;
    overflow: hidden;
    padding: 8px 16px;  
    
}

.index:hover {
    background:-webkit-linear-gradient(180deg, #FDC830 0.06%, #F3732B 102.24%);
    background:-moz-linear-gradient(180deg, #FDC830 0.06%, #F3732B 102.24%);
    background:-o-linear-gradient(180deg, #FDC830 0.06%, #F3732B 102.24%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    text-shadow: 1px 1px 0px rgba(255, 255, 255);
}

.servicos:hover {
    background:-webkit-linear-gradient(180deg, #FDC830 0.06%, #F3732B 102.24%);
    background:-moz-linear-gradient(180deg, #FDC830 0.06%, #F3732B 102.24%);
    background:-o-linear-gradient(180deg, #FDC830 0.06%, #F3732B 102.24%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    text-shadow: 1px 1px 0px rgba(255, 255, 255);
}

.contato {
    color: white;
    margin-right:30px;
    margin-left: 15px;
    background:-webkit-linear-gradient(180deg, #FDC830 0.06%, #F3732B 102.24%);
    background:-moz-linear-gradient(180deg, #FDC830 0.06%, #F3732B 102.24%);
    background:-o-linear-gradient(180deg, #FDC830 0.06%, #F3732B 102.24%);
    background-clip: text;
    -webkit-background-fill-text: transparent;
    -moz-background-fill-text: transparent;
    -o-background-fill-text: transparent;
    border-radius: 80px;
    background-position-y: 0;
    transition: background-position-y .5s ease;
}

.contato:hover {
    box-shadow: 0px 0px 10px rgba(3, 2, 2, 0.158);
    background-position-y: 28px;
    transition: all .2s ease;
}

.social-media {
    opacity: 0.7;
    padding:0.8rem;
}

footer {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background: -webkit-linear-gradient(180deg, #FDC830 0.06%, #F3732B 102.24%);
    background: -moz-linear-gradient(180deg, #FDC830 0.06%, #F3732B 102.24%);
    background: -o-linear-gradient(180deg, #FDC830 0.06%, #F3732B 102.24%);
    font-size: 14px;
}

.footerrights {
    position: relative;
    float:left;
    padding-top:15px;
    padding-left:15px;
}

.footercontact {
    position: relative;
    float:right;
    padding-top:15px;
    padding-right:15px;
}